body {
    background-color: rgb(41, 36, 39);
    color: white;
    font-family: Arial, sans-serif;
}

#header {
    background-color: royalblue;
    width: 100%;

    border-radius: 5px;
}

#content {
    background-color: rgb(47, 40, 43);
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(120, 120,120);
    border-radius: 5px;
}

label{
    margin-left: 5px;
}

input {
    margin-left: 15px;
    width: 50%;
    display: flex;
    color: royalblue;
}

input[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 25%;
    background-color: royalblue;
    color: white;
}

input[type="submit"]:hover {
    cursor:pointer;
    background-color: white;
    color: royalblue;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"] {
    accent-color: royalblue;

}
img {
    margin-left: 15px;
    margin-bottom: 20px;
}