{% extends "base.html" %}

{% block body %}
    <div id="content">
        <h1 style="margin-left: 5px;">Parameters</h1>
        <form action="/image" method="post">
            <label for="parameters">Choose the parameters of your friend:</label>
            {% for i in range(latent_dim) %}
                <input type="range"  name="p{{i}}" min="0" max="100">
            
            {% endfor %}

            <label for="parameters">Temperature</label>
            <input type="range"  name="t" min="0" max="100">

            <input type="submit" value="Submit">
        </form>

    </div>
{% endblock %}